// config
@import "includes/config";
// default
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  line-height: 1.5;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
li {
  list-style: none;
}
button {
  outline: none;
}

// Main wrapper
// homepage one
.homepage-one {
  margin: 10em auto 0;
  height: 400px;
  width: 90%;
  max-width: $maxWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  h3 {
    color: color(accentFour);
  }
  h2 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0.3em 0 2em;
  }
  #clients-name {
    color: #000;
  }
  .client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #000;
    margin: 1em 0;
    img {
      border-radius: 50%;
    }
  }
  p {
    font-size: 1em;
    max-width: $maxWidthObject + 100px;
    color: #000;
  }
}
// covid-19 section
#covid {
  height: 50px;
  background: rgb(204, 63, 63);
  display: none;
}

// homepage two
.homepage-two {
  height: 100%;
  width: 90%;
  max-width: $maxWidth - 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 1fr;
  color: #000;
  .homepage-two-top {
    margin: 5em 0;
    h3 {
      color: color(accentFour);
    }
    h2 {
      font-weight: 400;
    }
  }
  .homepage-two-left {
    display: none;
  }
  .homepage-two-right {
    img {
      height: 300px;
    }
    p {
      font-size: 0.9em;
      margin-top: 3em;
      color: color(accentFifth);
    }
  }
}

// homepage-three section
.homepage-three {
  color: #000;
  height: 100%;
  max-width: $maxWidth - 300px;
  width: 90%;
  margin: 5em auto;
  display: grid;
  text-align: center;
  justify-content: center;
  p {
    max-width: $maxWidthObject;
    font-size: 0.9em;
    margin: 0 auto;
  }
  .homepage-three-top {
    h3 {
      font-size: 1.8em;
      color: color(accentFour);
    }
    h2 {
      font-weight: 400;
      margin-bottom: 1em;
    }
  }
  .homepage-three-left {
    margin: 3em auto;
    max-width: $maxWidthObject;
  }
  .homepage-three-right {
    ul {
      li {
        margin: 4em 0;
        h2 {
          font-weight: 400;
          margin-bottom: 0.3em;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}
// homepage-four
#homepage-four-wrapper {
  position: relative;

  .minor-wave-top {
    margin-bottom: -1em;
  }
  .minor-wave-bottom {
    margin-top: -1em;
  }
}
.homepage-four {
  background: #1a8801;
  height: 100%;
  position: relative;
  text-align: center;

  .homepage-four-bottom {
    margin: 0em auto;
    padding: 0em 0 2em 0em;
    width: 96%;
    max-width: $maxWidth - 300px;
    h3 {
      color: #fff;
      font-size: 1.8em;
    }
    h2 {
      font-weight: 400;
      max-width: 450px;
      margin: 0.5em auto;
    }
  }
}
//homepage five
.homepage-five {
  margin: 13em auto;
  height: 100%;
  width: 90%;
  max-width: 1050px;
  color: #000;
  ul {
    li {
      margin: 2em 0;

      .choose-response {
        img {
          width: 30px;
        }
        h3 {
          font-weight: 400;
          margin: 0.5em 0;
          max-width: $maxWidthObject;
        }
      }
      p {
        font-size: 0.8em;
        max-width: 300px;
      }
    }
    .choose-title-container {
      h3 {
        color: color(accentFour);
        font-size: 1.8em;
      }
    }
  }
}

// homepage-six
.homepage-six {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: #000;
  .card {
    display: none;
  }
  .homepage-six-card-1 {
    width: 90%;
    margin: 4em auto;
    h3 {
      color: color(accentFour);
    }
  }
  p {
    margin: 1em auto;
    font-size: 0.8em;
  }
  .homepage-six-card-7 {
    width: 90%;
    margin: 3em auto;
    max-width: 500px;
  }
}

// media queries

@media screen and (min-width: 800px) {
  .homepage-two {
    grid-template-rows: 180px 1fr;
    grid-template-columns: 40% 1fr;
    justify-content: center;
    .homepage-two-top {
      grid-row: 1/2;
      grid-column: 1/3;
      margin-bottom: 0 !important;
    }
    .homepage-two-left {
      display: block;
      grid-row: 2/3;
      grid-column: 1/2;
      ul {
        li {
          margin: 2em 0;
          font-size: 1.2em;
          color: color(accentFifth);
        }
        li:nth-child(1) {
          color: color(accentThree);
          margin: 0 0 2em 0 !important;
        }
      }
    }
    .homepage-two-right {
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  // homepage-five
  .homepage-five {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      li {
        justify-self: center;
      }
      p {
        max-width: 250px;
      }
    }
  }
}

@media screen and (min-width: 940px) {
  //homepage three section
  .homepage-three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    text-align: left;
    .homepage-three-top {
      grid-row: 1/2;
      grid-column: 1/3;
      p {
        margin: 0;
      }
    }
    .homepage-three-left {
      grid-row: 2/3;
      grid-column: 1/2;
      margin: 3em 0 !important;
    }
    .homepage-three-right {
      justify-self: center;
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }

  //hompage-six
  .homepage-six {
    max-width: $maxWidth;
    margin: 0 auto;
    max-height: 1000px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);

    .homepage-six-card-1 {
      grid-row: 1/2;
      grid-column: 3/9;
    }
    .homepage-six-card-2 {
      grid-row: 5/8;
      grid-column: 7/9;
    }
    .homepage-six-card-3 {
      grid-row: 2/5;
      grid-column: 7/9;
    }
    .homepage-six-card-4 {
      grid-row: 2/8;
      grid-column: 3/7;
    }
    .homepage-six-card-5 {
      grid-row: 1/7;
      grid-column: 1/3;
    }
    .homepage-six-card-6 {
      grid-row: 8/11;
      grid-column: 3/5;
    }
    .homepage-six-card-7 {
      align-self: center;
      grid-row: 8/11;
      grid-column: 5/9;
    }
    .card {
      display: block !important;
    }
  }
}

// includes
@import "includes/header";
@import "includes/footer";
@import "includes/contact";
